
#nav_menu ul {list-style-type: none;}
#nav_menu ul li {float: left;}
#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;   
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-right: 2px solid white; }
#nav_menu ul li a.lastitem { border-right: none; }	
#nav_menu ul li a.current { color: yellow; }

ol {list-style-type: upper-roman;}
ul {list-style-type: square;}


html{
    background-image:linear-gradient(to left, white 0%, #9bddf4 100%);
}

body {
    width: 95%;
    margin: 15px auto;
}

article {
    clear: left;
    padding-top: 1em;
    width: 75%;
}
img{
    float: left;
    margin: 2em;
}
article{
    clear: left;
    width: 70%;
    float: left;
    column-count: 3;
    column-rule: 2px dotted blue;
    column-gap: 2em;
    margin-left: 2em;
}
article p::first-letter{
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
    color: black;
}



